*{
    padding: 0;
    margin:0;
}

body{
    font-family: "Calibri Ligth";
}

div{
    width: 30%;
    height: 250px;

    border:5px solid #03071e;
    padding: 20px;

    background: orange;
    text-align: center;

}