*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
}

.contenedor{
    width: 80%;
    margin:0 auto;
}

header{
    width:100%;
    height: 500px;
    background-image: url("../img/consola 6.jpg");
    background-size: cover; /*Abarca el 100% de la imagen*/
    background-position: center center; 
}
/*main{
    background:red;
}*/

main .texto h2{
    text-align:center;
    font-size: 35px;
    margin:10px 0;
}

main .texto p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
    text-align: justify;
}

/****Boton****/

.boton a{
    background: teal;
    text-decoration: none; /*quita subrayado*/
    color:white;
    font-size: 18px;
    display:block;
    padding: 15px 10px;
    border-radius: 5px;
    width:100px;
    margin:15px auto;
    text-align:center;
}

.boton a:hover{
    background: #005252
}

/******FOOTER******/

footer{
    background:#020202;
    padding: 30px;
}

footer h3{
    color:white;
    text-align: center;
}